img {
  width: 90%;
  height: 50%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  display: flex;
  padding: 1vh;
  margin-left: auto;
  margin-right: auto;
}
