<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
  <div class="grid divide-y divide-neutral-500 mx-auto mt-8">
    <div class="p-3 bg-light rounded shadow">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class=""> Please check your cart before checking out</span>
          <span class="mt-3 transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <div class="group-open:animate-fadeIn">
          <app-cart></app-cart>
        </div>
      </details>
    </div>
  </div>
</div>

<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto" [formGroup]="checkOutForm">
    <div class="flex flex-col text-center w-full mb-12">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
        Check out
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Please fill your details befor checking out.
      </p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-gray-600"
              >Name</label
            >
            <input
              formControlName="receiverName"
              type="text"
              id="name"
              name="name"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="email" class="leading-7 text-sm text-gray-600"
              >Email</label
            >
            <input
              formControlName="email"
              type="email"
              id="email"
              name="email"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-gray-600"
              >Phone</label
            >
            <input
              formControlName="mobile"
              id="message"
              name="message"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
              data-gramm="false"
              type="number"
              wt-ignore-input="true"
            />
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-gray-600"
              >Address</label
            >
            <textarea
              formControlName="shippingAddress"
              id="message"
              name="message"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
              data-gramm="false"
              wt-ignore-input="true"
            ></textarea>
          </div>
        </div>
        <div class="p-2 w-full">
          <button
            (click)="onCheckOutSubmit()"
            [disabled]="checkOutForm.invalid"
            class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          >
            Procced
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script
  type="application/javascript"
  src="https://securegw-stage.paytm.in/merchantpgpui/checkoutjs/merchants/{MID}.js"
  onload="onScriptLoad();"
  crossorigin="anonymous"
></script>
<script>
  function onScriptLoad() {
    var config = {
      root: "",
      flow: "DEFAULT",
      data: {
        orderId: "" /* update order id */,
        token: "" /* update token value */,
        tokenType: "TXN_TOKEN",
        amount: "" /* update amount */,
      },
      handler: {
        notifyMerchant: function (eventName, data) {
          console.log("notifyMerchant handler function called");
          console.log("eventName => ", eventName);
          console.log("data => ", data);
        },
      },
    };
    if (window.Paytm && window.Paytm.CheckoutJS) {
      window.Paytm.CheckoutJS.onLoad(function excecuteAfterCompleteLoad() {
        // initialze configuration using init method
        window.Paytm.CheckoutJS.init(config)
          .then(function onSuccess() {
            // after successfully updating configuration, invoke JS Checkout
            window.Paytm.CheckoutJS.invoke();
          })
          .catch(function onError(error) {
            console.log("error => ", error);
          });
      });
    }
  }
</script>
